/venv/
/.idea/.gitignore
/.idea/mirage.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Лекция Мацкеплишвили Симона Теймуразовича «Медицина будущего–ремесло,наука или и.mp4
